
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Get to Know Joel</title>
    <h1>Joe</h1>
    <ul>
        <li><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a></li>
        <li><a href="https://baconsale.com/" target="_blank">Baconsale</a></li>
    </ul>
    <a href="https://baconsale.com/" target="_blank">
        <img src="" alt="Baconsale" class="img-fluid">
    </a>

</head>
<body>
<div>
      
</div>
</body>
</html>