@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>The Joel Hilton Film Collection</h1>
    <img src="https://byu.box.com/s/8sjz2qei13h4nnlw0e6gc10ot35octkf" alt="Joel Hilton" width="300" />
</div>