
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <h1>Get to Know Joel</h1>
    <p><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></p>
    <p><a href="https://baconsale.com/">Baconsale</a></p>
    <a href="https://baconsale.com/">
        <img src="images/BaconsaleKate.jpg" alt="Baconsale" width="300" />
    </a>

</html>